<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Stock Search</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link s" (click)="navigateToLastSearch()" [class.text-white]="isActive('/search')" [class.active]="isActive('/search')" style="
          cursor: pointer">Search</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/watchlist" routerLinkActive="active">Watchlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 